@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
    background-color: #bf9f78;
    padding: 1rem;
    border-radius: 5px; 
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    min-width: 280px;
    height: 407px;
    font-family: "Roboto","Inter", sans-serif !important;

    img {
        max-width: 280px;
        border: 1px solid #00000021;
    }

    figcaption {
        font-weight: 600;
        margin-top: 3rem;
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 0.5px;
        color: #403116;
        font-weight: bold;
    }
}
