.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 5px;

    img {
        max-width: 98px;
        border-radius: 2px;
    }

    figcaption {
        font-weight: 600;
        margin-top: .5rem;
    }
}
