html, body, #root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    place-items: normal;
    background-color: #fcf9f2bb;
    overscroll-behavior-y: none;
    width: 100%;
    max-width: 100%;
    overflow-x: clip;
}