html, body, #root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    place-items: normal;
    background-color: #fcf9f2bb;
    overscroll-behavior: none;
    --vh: 1vh;
}