html {
    --vh: 1vh;
    height: 100%;
}

body, #root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcf9f2bb;
    overscroll-behavior: none;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}