html, body, #root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    place-items: normal;
    background-color: #fcf9f2bb;
    overscroll-behavior: none;
    --vh: 1vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}