.hero-scroll {
  position: relative;
  height: calc(var(--vh, 1vh) * 150);

  .hero-image {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    object-fit: cover;
    opacity: 85%;
  }

  .hero-title {
    color: white;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    z-index: 2;
    width: 100%;
    font-size: xx-large;
  }
}
