.pin-spacer {
  overflow: hidden !important;
  background-color: black;
}

.img-scroll-flipbook {
  position: relative;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background-color: black;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-image {
    z-index: 10; 
    opacity: 0;
    height: 85%;  
  }

  .overlay-text-content {
    position: absolute;
    color: white;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    font-style: italic;
  }

  .over-image-content {
    position: absolute;
    z-index: 20;
    position: absolute;
    top: 65%;
    left: 60%;
    color: black;
    width: 180px;
    height: auto;
  }

  &::after {  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 20);
    pointer-events: none;
    z-index: 15;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@media (min-width: 525px) {
    .img-scroll-flipbook {
      .overlay-image {
        width: 87%;
      }

      .over-image-content {
        left: 56%;
      }
  }
}

@media (min-width: 600px) {
  .img-scroll-flipbook {
    .overlay-image {
      width: 78%;
    }

    .over-image-content {
      left: 49%;
    }
  }
}

@media (min-width: 670px) {
  .img-scroll-flipbook {
    img {
      object-fit: fill;
    }

    .overlay-image {
      width: 70%;
    }

    .over-image-content {
      left: 45%;
    }
  }
}

@media (min-width: 750px) {
  .img-scroll-flipbook {
    
    .overlay-image {
      width: 70%;
    }
  }
}

@media (min-width: 1025px) {
    .img-scroll-flipbook {
    
    .overlay-image {
      width: 50%;
    }

    .over-image-content {
      left: 32%;
    }
  }
}

@media (min-width: 2000px) {
    .img-scroll-flipbook {
    
    .overlay-image {
      width: 30%;
    }

    .over-image-content {
      left: 20%;
      font-size: larger;
    }
  }
}

