.img-scroll-flipbook {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
