.reveal-wrap {
    display: flex;
    justify-content: center;

    .reveal-img {
        width: 200px;
    }
}

@media (min-width: 2000px) {
    .reveal-wrap {

    .reveal-img {
        width: 300px;
    }
}
}