.lasse-article {
    background-color: #273B16;
    color: white;

    .spin-pic {
        display: inline-block;
        animation: spin 2s linear 1;
        width: 100%;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .intro h2, .intro p{
        margin: 2rem 2rem 0 2rem;
    }

    img {
        width: 100%;
    }

    .lasse-slider {
        align-items: stretch;
        height: 500px;
        background-color: transparent;
        height: 750px;
        padding: 0;
        margin-top: -3rem;
        margin-bottom: 6rem;

        h3 {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            color: white;
        }

        img {
            width: 70%;
            height: auto;
            border-radius: 15px;
            max-height: 450px;
            max-width: 450px;
        }

        .slider-button {
            top: 89%;
            background-color: transparent;

            &.prev {
                left: 15px;
            }

            &.next {
                right: 15px;
            }
        }

        .slider-caption {
            position: absolute;
            top: 84%;
            width: 70%;
            background-color: #7B303D;
            color: white;
            padding: 1.5rem 3.3rem;
            margin: 0;
            border-radius: 20px;
        }
    }

    .lasse-h3 {
        margin-left: 2rem;
    }

    .lasse-flex {
        display: flex;
        margin: 2rem;
        align-items: center;
        gap: 5%;

        img {
            width: 45%;
            height: fit-content;
            border-radius: 15px;
            max-height: 215px;
        }
    }

    .background {
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin: 1.5rem 2rem;
        }

        img {
            width: 80%;
            border-radius: 20px;
            margin-top: 3rem;
        }
    }

    .design, .market1, .market2, .design-div{
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 4rem 2rem 0 2rem;
            align-self: flex-start;
        }

        p {
            margin: 1.5rem 2rem;
        }

        figure {
            margin: 2rem;
        }
        
    }

    .market2 {
        margin-bottom: 5rem;
    }

    .swap {
        margin-top: 5rem;
        height: 75vh;

        .startImg, .endImg {
            object-fit: cover;
            height: 65%;
            margin-top: 6rem;
        }
    
       
    }

    .transition-block {
        .zoom-section {
            &::before {
                background: transparent;
            }

            margin-bottom: 0;
        }

        .scroll-lasse{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255 255 255 / 69%);

            p {
                background-color: transparent;
                margin: 2rem;
                color: black;
            }

            .p2 {
                text-align: center;
                margin-top: 0;
            }

            a {
                color: black;
                text-decoration: underline;
                margin-bottom: 3rem;
            }
        }
    }

    .container{
        .Bubble {
            display: inline-block;
            max-width: 300px;
            padding: 10px 14px;
            border: 5px solid #7B303D;
            border-radius: 12px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 5px;
                bottom: -13px;
                width: 0;
                height: 0;
                border-top: 8px solid #7B303D;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }
        }
    }
}

@media (min-width: 768px) {
    .lasse-article {
        .intro {
            text-align: center;
            margin-bottom: 8rem;
        }

        .lasse-slider {
            .slider {
                margin-bottom: 4rem;
            }

            .slider-button {

                &.prev {
                    left: 80px;
                }

                &.next {
                    right: 80px;
                }
            }
        }

        .lasse-h3 {
            text-align: center;
        }

        .lasse-flex {
            justify-content: center;
            margin-top: 5rem;
            margin-bottom: 5rem;

            img {
                max-height: 350px;
                max-width: 350px;
            }

            p {
                width: 60%;
            }
        }

        .background img {
            width: 30%;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        .design-div {
            flex-direction: row-reverse;
            justify-content: center;

            margin-top: 5rem;

            .design-text {
                width: 50%;
            }
        }

        .design, .market1, .market2, .design-div{
            p {
                margin: 3rem 2rem;
            }
            
        }

        .market2 {
                margin-top: 5rem;
        }

        .swap {
            .startImg, .endImg {
                object-fit: contain;

            }
        
        
        }
        
    }
}

@media (min-width: 1024px) {
    .lasse-article {
        .lasse-slider {
            .slider-button {
                &.prev {
                    left: 200px;
                }

                &.next {
                    right: 200px;
                }
            }
        }
        
    }
}

@media(min-width: 1440px) {
    .lasse-article{
        .lasse-flex {
            margin-right: 20rem;
            margin-left: 20rem;
        }

        p {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 2rem;
        }

        .background, .design, .market1, .market2, .intro{
            margin-right: 20rem;
            margin-left: 20rem;
        }

        .lasse-slider {
            img {
                margin-bottom: 5rem;
            }
        }
    }
}

@media (min-width: 2000px) {
    .lasse-article {
        .lasse-slider {
            .slider-button {
                &.prev {
                    left: 400px;
                }

                &.next {
                    right: 400px;
                }
            }
        }
    }
}