.scroll-text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  opacity: 1 !important;
  z-index: 10;

  p {
    margin: 1rem 0 4rem 0;
    line-height: 1.6;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 10px;
  }

  opacity: 0;
  transform: translateY(50px);

  position: relative;
  z-index: 2;

  .text-1{
    margin-right: 12rem;
  }

  .text-2{
    margin-left: 12rem;
  }
}
