.scroll-video-container {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 60);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: black;
  padding-bottom: 5rem;
}

.scroll-video {
  width: 95%;
  height: 100%;
  object-fit: cover;
}
