.tormod-article {
    background-color: #e2e2e2;
    
    p, h2, h3 {
        color: black;
    }

    .intro {

        h2 {
            margin: 0 2rem 0 2rem;
        }

        p {
            margin: 3rem 2rem 3rem 2rem;
        }
    }

    .sertificate {
        margin: 2rem;

        figure {
            display: flex;
            flex-direction: column;
            color: #00000082;
            margin: 3rem 0;

            img {
                width: 100%;         
            }
        }

        .sertificate2 {
            margin: 0 0 8rem 0;
        }
    }

    .boat {
        figure {
            margin: 0 0 5rem;

            img {
                width: 100%;
                margin: 8rem 0 1rem 0;
            }

            figcaption {
                justify-self: center;
                color: #00000082;
            }
        }

        h3 {
            margin-left: 2rem;
        }

        p {
            margin: 2rem 2rem 8rem 2rem;
        }
    }

    .love, .drama, .safe {
        h3{
            margin: 8rem 2rem 2rem;
        }

        p {
            margin: 2rem;
        }

        figure {
            color: #00000082;

            img {
                width: 100%;
            }
        }
    }

    .drama h3, .safe h3{
        margin-top: 5rem;
    }

    .safe{
        padding-bottom: 2rem;
    }

}

@media (min-width: 768px) {
    .tormod-article {
        .intro {
            margin-top: 4rem;

            h2 {
                margin: 0 7rem 0 7rem;
            }

            p {
                margin: 3rem 7rem 3rem 7rem;
            }
        }

        .sertificate {
            p {
                margin-left: 5rem;
                margin-right: 5rem;
            }

            .sertificate2 {
                margin: 0 5rem 8rem 5rem;
            }

            figure {
                align-items: center;
                img {
                    width: 20%;
                }
            }
        }

        .boat {
            figure {
                margin-left: 7rem;
                margin-right: 7rem;
                align-items: center;
                display: flex;
                flex-direction: column;

                img {
                    width: 40%;
                }
            }

            h3, p {
                margin-left: 7rem;
                margin-right: 7rem;
            }
        }

        .love, .drama, .safe {
            h3, p {
                margin-left: 7rem;
                margin-right: 7rem;
            }

            figure {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 40%;
                }
            }
        }
    }
}

