.skjermtid-article {
    background-color: #E6E6E6;
    padding-bottom: 5rem;
    color: black;

    .limb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            max-width: 200px;
        }

        p {
            width: 50%;
            margin: 0 1rem 0 2rem;
        }
    }

    .limb2 {
        margin: 2rem 2rem 4rem 2rem;
    }

    .digital {
        margin: 4rem 2rem;

        p{
            margin: 0 0 0 2rem !important;
        }
    }

    .scrolling {
        margin: 4rem 2rem 0 2rem;
    }

    .survey {
        max-width: 350px;
        margin: 5rem 0;

        .survey-question {
            margin-bottom: 2rem;
            font-weight: bold;
        }

        button {
            margin: .5rem;
            border: 1px solid #ccc;
            background: #fff;
            color: black;
            border-radius: 999px;
            padding: 0.6rem 2rem;
            font-size: 0.8rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        button.is-selected {
            background-color: #4c8b4c;
            color: #fff;
        }

        ul {
            padding: 0;
            margin-top: 3rem;
        }
        
        .survey-row {
            display: grid;
            grid-template-columns: 1fr auto;
            margin-bottom: 1rem;
            align-items: center;
        }

        .is-selected{ 
            .survey-bar {
                background-color: #4c8b4c; 
                transform: scaleY(1.05);
            }

            .survey-percent, .survey-label {
                font-weight: bold;
            }
        }

        
        .survey-bar-wrapper {
            grid-column: 1 / 2;
            height: 18px;
            border-radius: 3px;
            overflow: hidden;
        }

        .survey-bar {
            height: 100%;
            background-color: #3f76a5; 
        }

        .survey-label {
            grid-column: 1 / 2;
            font-size: small;
            margin-top: .5rem;
            color: black;
        }

        .survey-percent {
            grid-column: 2 / 3;
            font-size: small;
            color: black;
        }
    }
}


@media (min-width: 768px) {
    .skjermtid-article {
        .survey {
            display: flex;
            flex-direction: column;
            justify-self: center;

            .survey-question {
                text-align: center;
            }

            .survey-buttons {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 1024px) {
    .skjermtid-article {
        p {
            font-size: 1.2rem;
        }

        .scrolling, .limb2 {
            margin-left: 20rem;
            margin-right: 20rem;
        }
    }
}
