.slider-section {
    position: relative;
    min-width: 100%;
    height: 400px;
    margin: 0 auto; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(169 169 169 / 10%);
    padding-top: 1.5rem;

    .slider {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    img {
        max-height: 350px;
        width: 285px;  
        display: flex
    }

    .slider-caption {
        margin-top: 10px; 
        color: #203E51;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .slider-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.3);
        border: none;
        color: white;
        font-size: 2rem;
        padding: 0 10px;
        cursor: pointer;
        z-index: 10;

        &.prev {
        left: 5px;
        }

        &.next {
        right: 5px;
        }
    }
}

@media (min-width: 768px) {
    .slider-section {
        img {
            width: 100%;
        }

        .slider-button {
            &.prev {
                left: 40px;
            }

            &.next {
                right: 40px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .slider-section {
        height: 600px;

        img {
            max-height: 550px
        }
    }
}