.img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; 

    .startImg,
    .endImg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain; 
    }

    .endImg {
        position: absolute;
        inset: 0;                   
        opacity: 0;                
        transform-origin: left center;
        transform: scaleX(0);      
    }

}

@media (min-width: 768px) {
    .img-wrap {
        .startImg,
        .endImg {
            height: auto;
            object-fit: cover; 
        }
    }
}