.trond-article{
    font-family: "math";
    background-color: white;
    padding-bottom: 3rem;

    .story-intro {
        padding-top: 15rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        background-color: black;

        p {
            margin: 0 2rem 3rem 2rem;
            text-align: center;
            font-size: x-large;
            color: white;
        }

        .flex-text{
            display: flex;
            flex-direction: column;
        }
    }

    .question {
        position: relative;  
        padding: 2rem;
        padding-bottom: 20rem;
        margin: 0;
        text-align: center;
        font-size: 1.8rem;
        background-color: black;

        h2 {
            margin: 0 0 3rem 0;
            color: white;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40vh;      
            pointer-events: none;
            background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.5) 50%, 
            rgb(255, 255, 255, 1) 100% 
            );
        }
    }

    .childhood {
        color: black;
        font-size: 1.2rem;
        margin: 1rem 3rem 4rem 3rem;

        h4 {
            font-size: 1.4rem;
        }
    }
    
    .trond-audio {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;

        audio {
            width: 350px;
        }
    }

    .school, .frank, .end-story, .dark-thoughts, .crime, .riksalarm, .responsibility {
        color: black;
        font-size: 1.2rem;
        margin: 3rem 3rem 4rem 3rem;

        h4 {
            font-size: 1.4rem;
        }
    }

    .responsibility {
        .container {
            .Bubble {
                font-weight: bold;
                font-size: 1.4rem;
                display: inline-block;
                max-width: 300px;
                padding: 10px 14px;
                border: 5px solid #20566f;
                border-radius: 12px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 5px;
                    bottom: -13px;
                    width: 0;
                    height: 0;
                    border-top: 8px solid #20566f;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                }
            }
        }
    }

    .end-story {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .school .popup-figure {
        img {
            width: 90%;
        }
        
        figcaption {
            font-size: 0.8rem;
            color: #203E51;
        }
    }
  

    .flex-dollar {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;

        .dollarBill-section {
            text-align: center;
            padding: 0 0 4rem 0;

            h3 {
                font-size: 1.5rem;
                color: black;
            }

            img {
                width: 300px;
                max-width: 90%;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
            }
        }

        p {
            margin: 0 3rem 0 3rem;
            color: black;
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 768px) {
    .trond-article {
        .story-intro {
            flex-direction: row-reverse;
            align-items: center;
            margin-left: 0;

            .flex-text {
                width: 50%;
            }
        }

        .question {
            padding-top: 10rem;
        }

        .childhood {
            margin: 10rem 10rem 4rem 10rem;
        }

        .trond-audio {
            audio {
                width: 400px;
            }
        }

        .school, .frank, .end-story, .dark-thoughts, .crime, .riksalarm, .responsibility {
            margin-left: 10rem;
            margin-right: 10rem;
        }

        .flex-dollar {
            flex-direction: row;
            margin-top: 10rem;
            margin-bottom: 10rem;
            align-items: center;

            .dollarBill-section {
                min-width: 50%;
                margin-top: 0;
                padding: 0;

                h3 {
                    margin-top: 0;
                }
            }

            p {
                width: 50%;
            }
        }

        .container {
            display: flex;
            justify-content: center;
        }
    }
}

@media (min-width: 1024px) {

    .trond-article {
        p {
            font-size: 1.2rem;
        }

        .flex-dollar {
            margin-left: 20rem;
            margin-right: 20rem;

            .dollarBill-section {
                min-width: 40%;
            }
        }

        .end-story {
            img {
                width: 40% !important;
            }
        }

        .childhood, .school, .frank, .dark-thoughts, .crime, .riksalarm, .responsibility, .end-story {
            margin-left: 20rem;
            margin-right: 20rem;
        }
    }
}

@media (min-width: 2000px) {
    .trond-article {
        .img-scroll-flipbook {
            .overlay-text-content {
                font-size: 5rem;
            }
        }

        .story-intro p {
            font-size: 2.5rem;
        }

        .question {
            padding-top: 25rem;
            padding-bottom: 30rem;
            font-size: 3rem;
        }

        .childhood, .school, .frank, .end-story, .dark-thoughts, .crime, .riksalarm, .responsibility {
            font-size: 2rem;
        }

        .childhood, .frank, .end-story, .dark-thoughts, .crime, .riksalarm, .responsibility{
            h4 {
                font-size: 3rem;
            }
        }

        .trond-audio {
            margin-top: 12rem;
            margin-bottom: 12rem;

            audio {
                width: 1000px;
            }
        }

        .flex-dollar {
            margin-top: 20rem;
            margin-bottom: 20rem;

            .dollarBill-section {

                h3 {
                    font-size: 3rem;
                }

                img {
                    width: 600px;
                }
            }
            p {
                font-size: 2rem;
                margin-right: 12rem;
                margin-left: 0;
            }
        }
    }
}