.trond-article{
    background-color: white;

    .dollarBill-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 17rem;
        padding-bottom: 17rem;

        h2 {
            color: black;
        }

        img {
            width: 300px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        }
    }
}